# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Directorios del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.swp

# Archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de compilación
dist/
build/